repoFiles/*
folderFiles/*
testFiles/*
csvFiles/*
plainTextFiles/*
regoFiles/*
schemaFiles/*
*/*Dict.json
*/repositories.csv
*Files
filterRuleExpressionInput/*
filterRuleExpressionOutput/*
interpolateRules.txt
testFilesi/*
__pycache__
*/__pycache__
*/terraform-provider-*
*/output*
*/*.json
*/*.csv
